In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab01.ipynb")

# Lab 01: Using Jupyter Notebooks

Welcome to MA/CS4200: *Cryptography*!  Most weeks you will complete a lab assignment like this one.  You can't learn technical subjects without hands-on practice, so labs are an important part of the course.

Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on questions in labs, so ask a neighbor or an instructor for help. Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it. You should **not** _just_ copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

## Today's lab

The goals of this lab activity:
* Access all of the technology we'll be using in this class;
* Familiarize yourself with the Jupyter Notebook environment;
* Use arithmetic operators in Python; and
* Work with Python names.

This lab covers parts of [Chapter 3](https://macs4200.org/chapters/03/intro-to-jupyter) of the online textbook. You should read the examples in the book, but not right now. Instead, let's get started!

<hr style="border: 5px solid #346094;" />
<hr style="border: 1px solid #f4c300;" />

# Part 1: Jupyter Notebook

# Cells
**Not these!** &rarr;

<div align=center>
    
<img src='cell_graphic.jpeg' width=200>
   
</div>

<br>

Jupyter Notebooks are made up of cells. There are two types of cells in a Jupyter Notebook: code cells and [Markdown](https://www.markdownguide.org/getting-started/) cells. 
- Code cells are where we write our Python code.
- Markdown cells allow us to write text, like the text you're reading right now. In Homework 1, you'll get a chance to learn a bit of Markdown.

## Code cells

Running a code cell will execute all of the code it contains.  Any output produced by the code will appear below the cell. Notice the empty brackets `[ ]` to the left of code cells that haven't been run. Once code cells are run, the brackets will also include a number. That number designates the order in which the cell was run. For example, the number `[3]` next to a cell would indicate that this cell is the third cell that has been run in the notebook so far, or that this is the third time you've run this cell if you've re-run the cell multiple times.

To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle. Next, do one of the following:
* **Keyboard shortcut**: Hold down the `Shift` key and press `Return` or `Enter`.
* **Button click**: Click the "Run" button in the cell toolbar above.

While the above two options give no difference in computer runtime performance, it's useful to internalize some common keyboard shortcuts early in your Jupyter experience (think of it like learning "Ctrl-C" or "Command-C" to copy instead of "Right click -> Copy to Clipboard"). While they're not required for this course, keyboard shortuts will greatly improve your quality of life when programming Python (just trust us on this).

We can use code cells to do arithmetic in Python. Try running the code cells below:

In [ ]:
3 + 4 ** 2

The order of evaluation is what you might expect: parentheses, then exponentiation, then multiplication and division, then addition and subtraction; from left to right.

In [ ]:
2 *(3 + 10)

You can use parentheses to modify the typical order of evaluation. **How would the above output change, if you removed the parentheses?**

In [ ]:
4 ** 2
1 + 2 + 4 + 8 + 16 + 32 + 64

**Note that only the value from evaluating the last expression is displayed;** the output from `4 **2` isn't shown at all. This is expected behavior.

In [ ]:
10000

Also notice that this cell contains a very simple expression that evaluates to `1000`.

In [ ]:
10 + 20 + 30 - max(10, 20, 30) - min(10, 20, 30)

The output you see from running these five code cells are the values `19`, `16`, `127`, `1000` and `20` displayed, respectively. 

Comments in code cells are denoted using a hashtag (`#`). Comments are used to explain what code does when necessary (or, occasionally in our case, to provide instructions).

In [ ]:
# This is a comment!
19 - 18

If you try and use syntax Python doesn't know about, it will give you an error.

In [ ]:
3 + * 4

In [ ]:
# Why does this work while the above cell causes an error?
3 * - 4

<!-- BEGIN QUESTION -->

#### Question 1: Markdown Cells

To edit an existing Markdown cell, double click it and change whatever you want. To *render* (display) it, you can "run" it like you'd run a code cell.

**Edit the following cell to contain your favorite color.**

*Note:* This is how questions will be formatted in your homework assignments.

<div class="alert alert-info" role="alert" style="color: black;">

Write your solution here, replacing this text.

</div>

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

---

## Question 2: Converting cells

To convert a cell from code to Markdown (or vice versa), you should use the dropdown menu in the cell toolbar. For instance, to convert the following cell from Markdown to code, you should:
1. Click the cell.
2. Click "Markdown" in the cell toolbar, and change it to "Code."

Your cell toolbar should then look like this:

<img src="code-celltoolbar.png" width="50%"/>

**Change the following cell from a Markdown cell to a code cell**, and run it by pressing the "Run" button or using the keyboard shortcut `Shift + Enter`.

3 + 4 + 5  # Change this to a code cell

<!-- END QUESTION -->

---

## Adding and deleting cells

To add cells, you can use the + button in the toolbar at the top of the notebook, or, click the icon within the highlighted cell. To delete cells, you can go to "Edit" in the toolbar at the top and click "Delete cells". (Be very careful when deleting a cell, it may not be easy to undo!)

Some useful keyboard shortcuts:

| Action | Mode | Keyboard shortcut |
| :--- | :--- | :---
| Run cell + jump to next cell | Either (puts you in edit mode) | `SHIFT + ENTER` |
| Save notebook | Either | `CTRL/CMD + S` |
| Switch to command mode | Either (puts you in command mode) | `ESCAPE` |
| Switch to edit mode | Command | `ENTER` | 
| Comment out the current line | Edit | `CTRL/CMD + /` |
| Create new cell above/below | Command |  `A/B` |
| Delete cell | Command | `DD` |
| Convert cell to Markdown | Command | `M` |
| Convert cell to code | Command | `Y` |
| Show all shortcuts | Command |  `H` |

<!-- BEGIN QUESTION -->

## Question 3: Insert Cell

**Add a Markdown cell below this one, and in it write your middle name, or write "I don't have a middle name".**

In [ ]:
# The cell you create should be above this one!

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Question 4: Delete Cell

Delete the cell below.

In [ ]:
# This should be deleted!

<!-- END QUESTION -->

<hr style="border: 5px solid #346094;" />
<hr style="border: 1px solid #f4c300;" />

# Part 2: Arithmetic Expressions and Operators

We have covered several arithmetic operators so far:

In [ ]:
(7 - 5) * 2**10 - 3 * 8 + 6 - 8

Combining several `int`s without using "regular" division always results in another `int`. Below, we use the `type()` function to find the type of the evaluated expression from the previous cell.

In [ ]:
type((7 - 5) * 2**10 - 3 * 8 + 6 - 8)

As soon as division (`/`) or other `float`s are involved, the result is a `float`:

In [ ]:
15 / 3

In [ ]:
type(15 / 3)

We can get `int` results from division by using the **integer division** operator `//`. When the dividend (the number we're dividing) isn't evenly divisible by the divisor (the number we're dividing by), the *result is rounded down*.

In [ ]:
15 // 3

In [ ]:
16 // 3

In [ ]:
type(15 // 3)

We can **cast** `int`s to `float`s and vice versa by applying the `int()` or `float()` functiosn to expressions.

In [ ]:
int(15 / 3)

In [ ]:
float(5)

If our `float` is not a round integer, we lose information:

In [ ]:
int(4.1)

<!-- BEGIN QUESTION -->

---

## Question 5

In the cell below, **write an arithmetic expression that evaluates to your birth year *as an `int`* that uses at least four of these operators**:
- `+`
- `-`
- `*`
- `/`
- `**`

Use can also use the `int()` function.

In [ ]:
# replace this with your expression

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

---

## Question 6:  Pythagorean Theorem

Suppose the campus IT department is exploring different computer monitors for their computer lab. Computer monitor sizes are defined as diagonal measurements from corner to corner, but the IT department is concerned about the overall *monitor width* (since the monitor has to fit on their desk). They are considering monitors from the following dataset:

| Aspect Ratio | Monitor Size (inches) | Monitor Height (inches) |
| :--- | :---- | :---- |
| 16:9 | 20 | 9.8 | 
| 16:9 | 22 | 10.8 |
| 16:9 | 24 | 11.8 |

The data above include aspect ratio (all widescreen, 16:9), monitor size in inches, and monitor height in inches–but no monitor width. You decide to generate another data point for each listed monitor in the data set by computing the associated monitor width.

In the cell below, **write an arithmetic expression that, when evaluated, computes the monitor width for the 22" monitor size** listed in the table above.

**Hints**:
* Recall the Pythagorean theorem for a right triangle: $a^2 + b^2 = c^2$, where $a$, $b$, and $c$ are the lengths of the first leg, second leg, and hypotenuse, respectively.
* We didn't explicitly cover how to take the square root of a number, but recall that in mathematics, the square root function $\sqrt{x}$ is equivalent to exponentiating with the exponent $\frac{1}{2}$ – that is, $\sqrt{x} = x^{\frac{1}{2}}$. That means we can use the exponentiation operator `**` to compute square roots, too. For example, `121 ** 0.5` evaluates to `11.0`.
* Like in math, may need to use parentheses `(` and `)` for order of operations.
* There are two valid ways of computing the monitor width. Each method uses values from two out of the three available columns.
* Feel free to validate your result with a screen size calculator, e.g., [http://screen-size.info/](http://screen-size.info/).

In [ ]:
# replace this with your expression

<!-- END QUESTION -->

<hr style="border: 5px solid #346094;" />
<hr style="border: 1px solid #f4c300;" />

# Part 3: Conventions
## Names
In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we just say, "Bear!"

In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [ ]:
ten = 3 * 2 + 4

When you run that cell, Python first computes the value of the expression on the right-hand side, `3 * 2 + 4`, which is the number 10.  Then it assigns that value to the name `ten`.  At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [ ]:
ten

The statement `ten = 3 * 2 + 4` is not asserting that `ten` is already equal to `3 * 2 + 4`, as we might expect by analogy with math notation.  Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

If the designers of Python had been ruthlessly pedantic, they might have made us write

    define the name ten to hereafter have the value of 3 * 2 + 4 

instead.  You will probably appreciate the brevity of "`=`"!  But keep in mind that this is the real meaning.

## Question 7
Assign the name `seconds_in_a_decade` to the number of seconds between midnight January 1, 2010 and midnight January 1, 2020.

<div class="alert alert-warning" role="alert"  style="color: black;">
    
### Autograding Tools

You'll notice that at the end of this question, there will be a cell with code that looks like `otter.grade('q7')`. When you run it, it will automatically check your code that you've written in this question against some tests that your teacher wrote. Make sure that when you run this cell you're passing all the tests.

</div>

In [ ]:
# Change the next line 
# so that it computes the number of weeks in a decade 
# and assigns that number the name, weeks_in_a_decade.

seconds_in_a_decade = ...

# We've put this line in this cell 
# so that it will print the value you've given to weeks_in_a_decade when you run it.  
# You don't need to change this.
seconds_in_a_decade

In [ ]:
grader.check("q7")

---

## Comments
You may have noticed these lines in the cell in which you answered Question 3.2:

    # Change the next line 
    # so that it computes the number of weeks in a decade 
    # and assigns that number the name, weeks_in_a_decade.
    
This is called a *comment*. It doesn't make anything happen in Python; Python ignores anything on a line after a `#`.  Instead, it's there to communicate something about the code to you, the human reader. Comments are extremely useful. 

<img src="http://imgs.xkcd.com/comics/future_self.png">

Source: [XKCD](http://imgs.xkcd.com/comics/future_self.png)

<!-- BEGIN QUESTION -->

## Question 8
We’ve been given a line of code, but the variable names aren’t very helpful, which makes it tricky to understand. Your job is to figure out what the code is doing and then rewrite it in a clearer way.

In [ ]:
var1 = 212
var2 = (var1 - 32) * 5 / 9 + 273
var2

First, think about what kind of real-world calculation this code is making. 

<div class="alert alert-warning" role="alert"  style="color: black;">

_Hint_: think temperature units: Farenheit, Celsius, and Kelvin.

</div>
</div>
Then, rewrite the code by breaking it up into step-by-step calculations, using descriptive variable names so that it's clearer what we're trying to do.

In [ ]:
# Write your code in this cell. 
...

<!-- END QUESTION -->

<hr style="border: 5px solid #346094;" />
<hr style="border: 1px solid #f4c300;" />


# 4. Submitting your work
You're done with Lab 01! All assignments in the course will be distributed as notebooks like this one. All assignments should be turned in using the following best practices:
1. Save your notebook.
2. Restart the kernel and run all cells up to this one.
3. Run the cell below with the code `grader.export(...)`. This will re-run all the tests. Make sure they are passing as you expect them to.
4. Download the file named `lab01_<date-time-stamp>.zip`, found in the explorer pane on the left side of the screen. **Note**: If clicking on the link in this notebook results in an error, try downloading the `.zip` file from the file explorer panel on the left.
5. Upload `lab01_<date-time-stamp>.zip` to the Lab 01 assignment on Canvas.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit.

In [ ]:
grader.export(force_save=True)